/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración básica del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #FF6F00, #FFA000);
}

main {
    flex: 1; /* Asegura que el main ocupe el espacio restante del body */
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Estilo del header y del menú */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-checkbox {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li.right {
    margin-left: auto;
}

nav ul li a,
nav ul li button {
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li button:hover,
nav ul li a.active {
    background-color: #FFA000;
    color: #fff;
    border-radius: 0;
}

/* Ajustes específicos para cada página */
.main-documentos,
.main-formacion,
.main-contacto,
.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-top: 80px; /* Deja espacio para el header */
    padding: 10px; /* Aplica un pequeño margen alrededor del contenido */
    box-sizing: border-box;
}


/* Ajuste específico del margen superior para el formulario */
.formulario-main {
    margin-top: 80px; /* Aumenta el margen superior para evitar que se superponga con el header */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    min-height: 80vh;
    /* Asegura que el formulario ocupe al menos el 80% de la altura de la pantalla */
    box-sizing: border-box; /* Para asegurar que padding y border no afecten el tamaño */
}

/* Estilo del panel general */
.panel {
    background-color: #c0c0c0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 100%; /* Asegura que el panel no se desborde */
    box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño */
    max-width: 800px; /* Ajusta según el diseño */
    margin: 0 auto; /* Centra el panel */
}

.panel-login {
    background-color: #cacaca;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 100%; /* Asegura que el panel no se desborde */
    box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño */
    max-width: 600px; /* Ajusta según el diseño */
    margin: 0 auto; /* Centra el panel */
    margin-top: 400px;
    position: relative;
}

.panel-intervencion {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 100%; /* Asegura que el panel no se desborde */
    box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño */
    max-width: 600px; /* Ajusta según el diseño */
    margin: 0 auto; /* Centra el panel */
    margin-top: 400px;
    position: relative;
}

.panel h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #FF6F00;
}

.panel p,
.panel form {
    font-size: 16px;
    color: #333;
}

/* Estilo de los inputs y botones en los formularios */
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño */
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #FF6F00;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #FFA000;
}

/* Estilo específico para el grid-container en documentos y formación */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    /* Ajustado para evitar que los paneles se queden detrás del menú */
    align-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    /* Altura fija para las tarjetas */
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    /* Alinear el texto al centro */
    height: 100%;
    /* Asegurar que el contenido se extienda a lo largo de toda la tarjeta */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    color: #777;
}

.card-admin {
    background-color: #fc7777;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .menu-checkbox:checked+.menu-icon+.navbar ul {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .grid-container {
        margin-top: -20px;
        /* Margen superior específico para móviles */
    }

    .formulario-main {
        padding: 10px;
        margin-top: 75px;
        /* Ajusta solo el margen superior en móviles */
        min-height: 100vh;
        /* Asegura que el formulario ocupe toda la altura de la pantalla en móviles */
        margin-top: 20px;
        /* Ajusta solo el margen superior en móviles */
    }

    .panel-intervencion {
        margin-top: 900px;
    }
}

/* Clases para manejar la visibilidad de las secciones */
.seccion-oculta {
    display: none;
}

.seccion-visible {
    display: block;
}

/* Estilo del botón de logout */
.logout-button {
    display: flex;
    align-items: center;
    background-color: #FF6F00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.logout-button svg {
    margin-right: 8px;
    /* Espacio entre el icono y el texto */
}

.logout-button:hover {
    background-color: #FFA000;
    color: #fff;
}


.form-group-row {
    display: flex;
    justify-content: space-between;
    /* Espacio entre los elementos */
    gap: 20px;
    /* Espacio entre los campos */
}

.form-group-row .form-group {
    flex: 1;
    /* Para que ambos campos ocupen el mismo espacio */
}

/* Si quieres que los campos ocupen diferentes anchos, puedes ajustar el flex individualmente */
/* .form-group-row .form-group:first-child {
    flex: 2;
}

.form-group-row .form-group:last-child {
    flex: 1;
} */

.phone-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
    padding: 20px;
    background: linear-gradient(45deg, #ffc66b, #f0e265);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.phone-button:active {
    background: linear-gradient(45deg, #f06565, #ff6b6b);
}

.h2-ciudades {
    text-align: center;
    color: #ffffff;
}

/* Asegura que el cuerpo y el contenedor principal ocupen toda la altura de la pantalla */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*CALENDARIO*/

#calendar {
    width: 100%; /* Asegura que el calendario ocupe todo el ancho disponible */
    height: calc(100vh - 120px); /* Ajusta la altura del calendario, restando el tamaño del header y el margen */
    margin: 20px auto; /* Aplica un margen automático para centrarlo horizontalmente */
    padding: 10px; /* Mantén el padding */
    border: 2px solid #FFA000; /* Mantén el borde */
    border-radius: 8px; /* Mantén los bordes redondeados */
    background-color: #fff; /* Mantén el fondo blanco */
    box-sizing: border-box; /* Asegura que padding y border no afecten al tamaño */
}

@media (max-width: 768px) {
    #calendar {
        height: calc(100vh - 140px); /* Ajusta la altura para dispositivos móviles */
        padding: 5px; /* Mantén un padding más pequeño en móviles */
        border-width: 1px; /* Reduce el grosor del borde */
    }
    .fc-toolbar-title {
        font-size: 1em; /* Ajusta el tamaño para que se vea bien en pantallas pequeñas */
    }
}
    

    .fc-list-event-title {
        font-size: 12px; /* Reducir el tamaño del texto para ajustarlo mejor */
        font-weight: bold;
        color: inherit !important;
    }

    .fc-list-event-time {
        font-size: 12px; /* Reducir el tamaño de la hora */
        color: inherit !important;
    }

    .fc-list-item {
        margin-bottom: 10px; /* Reducir el espacio entre eventos */
    }

    .fc-event {
        padding: 5px; /* Añadir algo de padding para mejorar la legibilidad */
        border-radius: 5px;
    }

    .fc-daygrid-day-number {
        font-size: 12px; /* Reducir el tamaño del número del día */
        color: #333;
    }

    .fc-event-title {
        font-size: 12px; /* Reducir el tamaño del título del evento */
        font-weight: bold;
        color: inherit !important;
    }

    .fc-toolbar-title {
        font-size: 18px; /* Ajusta el tamaño del título del mes */
        font-weight: bold;
        text-align: center;
    }

    .fc-button-group .fc-prev-button, 
    .fc-button-group .fc-next-button {
        font-size: 16px; /* Reduce el tamaño de las flechas */
        padding: 5px 10px; /* Ajusta el padding para que se vean más proporcionales */
        background-color: #333; /* Color de fondo de las flechas */
        border-radius: 5px; /* Bordes redondeados para las flechas */
        color: #fff; /* Color del texto de las flechas */
    }

    .fc-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fc-toolbar-title {
        text-transform: uppercase !important; /* Convierte el texto a mayúsculas y fuerza su aplicación */
        font-weight: bold !important; /* Asegura que el texto sea grueso */
        font-size: 1.5em !important; /* Ajusta el tamaño de la fuente */
        color: #FF6F00 !important; /* Aplica el color naranja */
        text-align: center !important; /* Asegura que el texto esté centrado */
    }

    /*separar paneles de distintos formularios. en estilos responsive, añadir un .panel-loquesea y darles x margin-top hasta centrar cada uno */
